footer {
    text-align: right;
    padding: 3px;
    color: white; 
  }
  
ul {
    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;

    padding:12px 14px;

    background-color: white;
}
p{
    color: black;
    text-align: center;
    display: block;

    padding:12px 14px;

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;
}
